<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdkj.outsources.dao.HuihuaMapper">
  <resultMap id="BaseResultMap" type="com.xdkj.outsources.entity.Huihua">
    <!--@mbg.generated-->
    <!--@Table huihua-->
    <id column="huihua_id" jdbcType="INTEGER" property="huihuaId" />
    <result column="huihua_fasong" jdbcType="INTEGER" property="huihuaFasong" />
    <result column="huihua_jieshou" jdbcType="INTEGER" property="huihuaJieshou" />
    <result column="huihua_text" jdbcType="VARCHAR" property="huihuaText" />
    <result column="huihua_date" jdbcType="TIMESTAMP" property="huihuaDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    huihua_id, huihua_fasong, huihua_jieshou, huihua_text, huihua_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from huihua
    where huihua_id = #{huihuaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from huihua
    where huihua_id = #{huihuaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="huihua_id" keyProperty="huihuaId" parameterType="com.xdkj.outsources.entity.Huihua" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into huihua (huihua_fasong, huihua_jieshou, huihua_text, 
      huihua_date)
    values (#{huihuaFasong,jdbcType=INTEGER}, #{huihuaJieshou,jdbcType=INTEGER}, #{huihuaText,jdbcType=VARCHAR}, 
      #{huihuaDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="huihua_id" keyProperty="huihuaId" parameterType="com.xdkj.outsources.entity.Huihua" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into huihua
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="huihuaFasong != null">
        huihua_fasong,
      </if>
      <if test="huihuaJieshou != null">
        huihua_jieshou,
      </if>
      <if test="huihuaText != null">
        huihua_text,
      </if>
      <if test="huihuaDate != null">
        huihua_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="huihuaFasong != null">
        #{huihuaFasong,jdbcType=INTEGER},
      </if>
      <if test="huihuaJieshou != null">
        #{huihuaJieshou,jdbcType=INTEGER},
      </if>
      <if test="huihuaText != null">
        #{huihuaText,jdbcType=VARCHAR},
      </if>
      <if test="huihuaDate != null">
        #{huihuaDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdkj.outsources.entity.Huihua">
    <!--@mbg.generated-->
    update huihua
    <set>
      <if test="huihuaFasong != null">
        huihua_fasong = #{huihuaFasong,jdbcType=INTEGER},
      </if>
      <if test="huihuaJieshou != null">
        huihua_jieshou = #{huihuaJieshou,jdbcType=INTEGER},
      </if>
      <if test="huihuaText != null">
        huihua_text = #{huihuaText,jdbcType=VARCHAR},
      </if>
      <if test="huihuaDate != null">
        huihua_date = #{huihuaDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where huihua_id = #{huihuaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdkj.outsources.entity.Huihua">
    <!--@mbg.generated-->
    update huihua
    set huihua_fasong = #{huihuaFasong,jdbcType=INTEGER},
      huihua_jieshou = #{huihuaJieshou,jdbcType=INTEGER},
      huihua_text = #{huihuaText,jdbcType=VARCHAR},
      huihua_date = #{huihuaDate,jdbcType=TIMESTAMP}
    where huihua_id = #{huihuaId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-09-->
  <select id="selectAllByHuihuaFasongAndHuihuaJieshou" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from huihua
        where huihua_fasong=#{huihuaFasong,jdbcType=INTEGER} and huihua_jieshou=#{huihuaJieshou,jdbcType=INTEGER}
        or huihua_fasong=#{huihuaJieshou,jdbcType=INTEGER} and huihua_jieshou=#{huihuaFasong,jdbcType=INTEGER}
        order by huihua_date
    </select>
</mapper>